# Server
PORT=8000
AI_INTERNAL_TOKEN=change_me_internal_token
MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DB_NAME=smart_cloud_dms
OPENAI_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1
S3_BUCKET=
